[AUTH]
type = ptc ; ptc or google
username = username
password = password

[CONFIG]
startLoc = Central Park NY ; can be a place name or coordinates
encryptFile = encrypt32bit.dll ; location of the encryption file (see pogo/encrypt/ for a list of files)
